body {
    background: url(../img/backgorund-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


ul {
    list-style: none;
}

ul img {
    size: 100px;
}
tbody tr td img{
    width: 100px;
}

.bg-dark {
    background: rgb(20, 24, 28,0.7) !important;
    border-radius: 20px !important;
}


.header-nav {
    background: rgb(20, 24, 28,0.7) !important;

}

.logo-img {
    width: 60px;
    display: inline;
}