body {
    background: url(../img/backgorund-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-img {
    width: 50px;
    display: inline;
}

ul {
    list-style: none;
}

ul img {
    size: 100px;
}
tbody tr td img{
    width: 100px;
}

.bg-dark {
    background: rgba(30, 30, 30, 0.7);
   
}


